.homeWrapper {
  height: 100vh;
}
.joinForm {
  background-color: #242433;
  border-radius: 10px;
}

.aside {
  /* background-color: #030203 !important; */
  height: 100vh;
}

.CodeMirror {
  height: 80vh !important;
  width: 100% !important;
  font-size: 20px;
  line-height: 1.6;
}

.newRoomAnchor {
  background-color: transparent;
  border: none;
  text-decoration: underline;
  cursor: pointer;
}

.footer {
  text-align: center;
  position: fixed;
  bottom: 0px;
  width: 100%;
}

.textarea {
  width: 100%;
  height: 100%;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  resize: none;
  padding: 10px;
  outline: none;
}

.outputWindow {
  height: 20vh;
}

.editorContainer {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  overflow-y: hidden;
}
.outputTextarea {
  flex: 1;
  background-color: #1d1a28;
  border: 1px grey solid;
  color: white;
  resize: none;
  outline: none;
  padding: 10px;
}

.runButton {
  width: 4rem;
  background-color: seagreen;
  border: none;
  outline: none;
  border-radius: 2px;
}
