.homeWrapper {
  height: 100vh;
}
.joinForm {
  background-color: #242433;
  border-radius: 10px;
}

.aside {
  /* background-color: #030203 !important; */
  height: 100vh;
}

.CodeMirror {
  height: 100vh !important;
  width: 100% !important;
  font-size: 20px;
  line-height: 1.6;
}

.newRoomAnchor {
  background-color: transparent;
  border: none;
  text-decoration: underline;
  cursor: pointer;
}
